@font-face {
  font-family: 'PP Neue Montreal';
  src: url('/src/assets/fonts/ppneuemontreal-book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('/src/assets/fonts/ppneuemontreal-medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('/src/assets/fonts/ppneuemontreal-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}